# Build results
bin/
obj/
publish/
publish-x86/
publish-framework/
installer/

# Archives et installateurs
*.zip
*.exe
!assets/*.ico

# Installateurs temporaires
git-installer.exe
innosetup-installer.exe

# Visual Studio / Rider
.vs/
.idea/
*.user
*.suo
*.userprefs

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JetBrains Rider
.idea/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

# VS Code
.vscode/

# Backup files
*.bak
*.backup
*~

